PORT=4000
DATABASE_URL="postgresql://user:password@localhost:5432/rbloginsystem?schema=public"
FRONTEND_URL="http://localhost:3000"

# Firebase Admin SDK
FIREBASE_PROJECT_ID="auth-portal"
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
